{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>PORTFOLIO | SREE NITHISH B</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">

</head>
<body>
<!-- partial:index.partial.html -->
<a href="/" id="text" class="flicker-div">
  <h1>@sr<span id="offset">e</span>e_nithish_b</h1>
</a>


<div class="hr-div" style="margin-top: 50px; margin-bottom: 0x;"></div>


<div class="divider-wrapper"><h2 class="divider"><span>GAME DEVELOPEMENT (2)</span></h2></div>

<main class="page-content">
  <div class="card card-gamedev">
    <div class="content">
      <h2 class="title">Battle Tank</h2>
      <p class="copy">A simple open world head-to-head tank combat with simple AI, terrain and advanced control system in UE4.</p>
      <button onclick="window.open('https://github.com/SreeNithishB/BattleTank_Game')" class="btn">Read More</button>
      <button onclick="window.open('https://vimeo.com/500034368')" class="btn">GamePlay</button>
    </div>
  </div>
  <div class="card card-gamedev">
    <div class="content">
      <h2 class="title">Stealth Grounds</h2>
      <p class="copy">A Hunger-Games inspired FPS with large outdoor terrains. Advanced AI, basic networking, pickups, skeletal meshes, checkpoints & more.</p>
      <button onclick="window.open('https://github.com/SreeNithishB/StealthGrounds')" class="btn">Read More</button>
      <button onclick="window.open('https://vimeo.com/500043442')" class="btn">GamePlay</button>
    </div>
  </div>
</main>

<div class="divider-wrapper"><h2 class="divider"><span>MACHINE LEARNING (1)</span></h2></div>

<main class="page-content">
  <div class="card card-ML">
    <div class="content">
      <h2 class="title">Sentiment Analysis</h2>
      <p class="copy">Sentiment analysis which classifies wether a restaurant review is positive or Negative using Logistic regression and various NLP techniques.</p>
      <button onclick="window.open('https://github.com/SreeNithishB/Restaurent-Review-Sentiment-Analysis')" class="btn">Read More</button>
      <button onclick="window.open('https://sreenithishb.herokuapp.com/sentiment_analysis/restaurant_reviews_logistic/')" class="btn">Live Demo</button>
    </div>
  </div>
</main>
<!-- partial -->

</body>
</html>
